{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-console": "off",
    "prefer-destructuring": "off",
    "arrow-body-style": "off",
  }
}
